<nav>
  <ul>
    <li><a href="/">Main Page</a></li>
    <li><a href="/add-player">Add Player</a></li>
    <li><a href="/add-players">Add Players</a></li>
    <li><a href="/add-restrictions">Add Restrictions</a></li>
    <li><a href="/settings">Settings</a></li>
  </ul>

  <svg
    class="logo"
    xmlns="http://www.w3.org/2000/svg"
    width="153"
    height="17"
    fill="none"
    class="ml-5 akvelon-logo__image"
  ><path
      d="M0 15.994L6.632.371h3.075l6.752 15.623h-3.076l-1.929-4.24H6.451l.965-2.542h3.256L8.138 3.34 3.015 15.994zM20.497.371v15.623h2.895V.371zm9.707 0l-5.909 6.48v1.876l6.33 7.327h3.98l-7.778-8.356L33.699.371h-3.496zm23.089.001L46.48 15.995h-3.075L36.774.371h3.436l4.824 11.99L49.856.371h3.436zm19.352 0v15.623h9.103l1.024-2.483h-7.234V.372zm15.854 7.81c0 3.634 1.628 5.45 4.823 5.45 3.135 0 4.703-1.817 4.703-5.45 0-3.572-1.568-5.388-4.703-5.388-3.256 0-4.823 1.756-4.823 5.388zm-3.014.061c0-5.329 2.593-7.932 7.837-7.932 5.125 0 7.717 2.664 7.717 7.932 0 5.268-2.592 7.932-7.717 7.932-5.004-.06-7.596-2.664-7.837-7.932zm20.377 7.75V.371h2.894l8.68 11.202V.371h2.774v15.623h-2.894L108.634 4.55v11.444z"
      fill="#fff"
    ></path><path
      d="M67.64 14.177c.121.182.241.364.241.606s0 .423-.12.605c-.12.242-.24.424-.482.484-.241.122-.422.122-.664.122H52.328a4.192 4.272 0 01-.483-.182l-.36-.364a2.108 2.148 0 01-.121-.665c0-.242.12-.424.24-.606.241-.303.483-.424.844-.363l13.745-.06h.785c.3.06.542.242.663.423zM66.737.312l.542.18c.182.062.302.182.423.364.06.122.12.303.18.485s0 .362-.06.544a.925.942 0 01-.361.485c-.18.122-.362.242-.543.242l-7.053-.06h-1.206c-.18 0-.361-.06-.543-.12-.18-.063-.3-.244-.421-.425a1.106 1.127 0 01-.12-.484c0-.182 0-.364.06-.485.06-.182.24-.364.36-.484.181-.123.363-.182.543-.243h8.2zm.12 6.78c.362.062.664.182.845.546.12.121.18.303.18.484s0 .363-.06.485c-.06.181-.12.303-.3.423-.121.122-.303.242-.483.242H55.523c-.18-.06-.422-.12-.542-.302-.18-.182-.302-.363-.302-.545a.998 1.017 0 010-.606c.06-.18.18-.363.361-.545.181-.12.363-.242.664-.242l11.153.062z"
      fill="#f26939"
    ></path><g
      font-weight="300"
      font-family="Pacifico"
      fill="#f26939"
      fill-opacity=".941"
      aria-label="Ets"
      font-size="21.846"
      letter-spacing="0"
      word-spacing="0"
      stroke-width=".546"
    ><path
        d="M131.224 10.32q-.11-.89.595-1.816.703-.927 1.73-1.504 1.023-.593 2.09-.833-1.58-.21-2.466-.927-.886-.716-.995-1.605-.177-1.441 1.204-2.373 1.379-.948 3.245-1.177 1.886-.231 3.21.166 1.326.398 1.448 1.394.056.46-.226.76-.264.281-.618.324-.845.104-.926-.555-.056-.46.522-.951-1.163-.698-3.009-.471-1.827.224-2.855.942-1.011.7-.885 1.727.124 1.012 1.116 1.621 1.01.592 2.676.683.383.031.42.338.05.399-.736.495-1.866.23-3.203 1.358-1.317 1.127-1.161 2.4.205 1.67 3.466 1.27 1.493-.183 3.213-1.11 1.723-.912 2.467-2 .13-.234.327-.258.216-.026.345.051.13.078.146.216.017.138-.1.323-.853 1.335-2.729 2.296-1.875.962-3.86 1.206-.336-.146-1.53-.28-1.172-.135-1.993-.486-.819-.335-.928-1.224z"
      ></path><path
        d="M144.778.92q-1.002.124-1.696 2.434-.37 1.198-.451 2.328.083-.135.806-1.064.723-.93 1.094-1.644.39-.717.456-1.16.063-.46.035-.69-.028-.23-.244-.203zm-4.02 6.564q-.294.036-.325-.21-.015-.122.117-.185.528-.251 1.059-.472.237-3.266 1.419-5.17Q143.744.3 144.884.16l.02-.003q.431-.053.695.148.264.201.308.554l.011.092q.003 1.976-2.958 5.14 1.316-.488 2.212-.66l.059-.007q.295-.036.325.21.03.244-.222.306-.894.188-2.615.788-.01.562.046 1.022.209 1.702 1.525 1.54 1.06-.13 2.17-1.496.088-.088.206-.103.137-.017.247.063.127.062.146.216.017.138-.123.295-1.267 1.54-2.76 1.724-2.22.272-2.526-2.227-.036-.291-.036-.618z"
      ></path><path
        d="M148.62 8.65q1.159-.142 1.057-.97-.102-.828-1.471-2.076l-.157.346-1.176 2.277q.666.556 1.747.423zm.241-3.717q.032.26.85 1.078.819.818.883 1.339.064.521-.198.989.637-.172 1.124-.59l.272-.22q.108-.09.25-.233.143-.141.194-.21.051-.069.156-.19.105-.122.103-.138.035-.035.075-.04.118-.014.256.14.156.136.17.244.01.092-.007.11-1.465 1.704-3.94 2.008-1.26.14-2.108-.114-.849-.254-1.035-.636.075-.196.234-.527l.64-1.292q.48-.962 1.053-2.137.174-.364.469-.4.295-.036.447.07.172.103.193.272z"
      ></path></g></svg>
</nav>